<h5 class='ps-4 fw-semibold'>Teams:</h5>

<div class="container mt-4">
	<table class="table table-bordered mt-5">
		<thead>
			<tr class="table-secondary">
				<th scope="col">No</th>
				<th>Team</th>
				<th>Coach</th>
				<th>National</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row"></th>
				<td></td>
				<td></td>
				<td></td>
				<td>
					<a class="w-100 d-block" id="editBTN">
						Edit
					</a>
					<a class="w-100 d-block" id="deleteBTN">
						Delete
					</a>
				</td>
			</tr>
		</tbody>
	</table>

	<button type="submit" class="btn btn-light btn-lg mt-3">Make Group</button>
</div>

<div class="container mt-4">
	<h5 class='ps-4 fw-semibold'>GROUPS:</h5>

	<table class="table table-bordered mt-5">
		<tbody>
			<tr>
				<td scope="row">
					<p class="title">A:</p>
				</td>
				<td>
					<p class="title">B:</p>
				</td>
			</tr>
			<tr>
				<td scope="row">
					<p class="title">C:</p>
				</td>
				<td>
					<p class="title">D:</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<script>
	$().ready(function () {
		$("#editBTN").click(function () {
			$.ajax({
				url: './view/emp/emp-list.jsp',
				dataType: "html",
				type: "GET",
			})
				.done(function (data) {
					$("#content").html(data);
				});
		});

		$("#deleteBTN").click(function () {
			var id = $(event.target).attr('value');

			var option = confirm('Do you want to delete this team?');
			if (option === true) {
				$.ajax({
					url: 'delete-ticket',
					type: 'get',
					data: {
						id: id
					},
					success: function (result) {
						alert('Delete successfully!');
					}
				});
			}
		});
	});
</script>