<h5 class='ps-4 fw-semibold'>Teams Management:</h5>

<div class="container mt-4">
	<form>
		<table class="table table-bordered">
			<thead>
				<tr class="table-secondary">
					<th scope="col">Team</th>
					<th scope="col">Coach</th>
					<th scope="col">National</th>
					<th scope="col">Seed</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">
						<input class="form-control" type="text" aria-label="default input example" id="team"
							name="team">
					</th>
					<td>
						<input class="form-control" type="text" id="coach" name="coach"
							aria-label="default input example">
					</td>
					<td>
						<input class="form-control" type="text" id="national" name="national"
							aria-label="default input example">
					</td>
					<td>
						<input class="form-control" type="number" min="1" max="3" id="seed" name="seed"
							aria-label="default input example">
					</td>
				</tr>
			</tbody>
		</table>

		<button type="submit" class="btn btn-light btn-lg mt-3">Save Team</button>
	</form>

	<table class="table table-bordered mt-5">
		<thead>
			<tr class="table-secondary">
				<th scope="col">No</th>
				<th>Team</th>
				<th>Coach</th>
				<th>National</th>
				<th>Seed</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row"></th>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>
					<a class="w-100 d-block" id="editBTN">
						Edit
					</a>
					<a class="w-100 d-block" id="deleteBTN">
						Delete
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<script>
	$().ready(function () {
		$("form").validate(
			{
				rules: {
					team: {
						required: true,
						maxlength: 200,
					},
					coach: {
						maxlength: 200,
					},
					national: {
						maxlength: 200,
					},
					seed: {
						required: true,
					},
				},

				messages: {
					fullName: {
						required: " Please enter the full name",
						maxlength: " The full name has a maximum of 50 characters",
					},
					team: {
						required: " Please enter the team name",
						maxlength: " The team name has a maximum of 200 characters",
					},
					coach: {
						maxlength: " The coach name has a maximum of 200 characters",
					},
					national: {
						maxlength: " The national name has a maximum of 200 characters",
					},
					seed: {
						required: " Please enter the seed",
					},
				},
				submitHandler: function (form) {
					$.ajax({
						url: "./add-employee",
						type: "post",
						data: {
						},
						success: function (result) {

						}
					});
					return false;
				},
			});

		$("#editBTN").click(function () {
			$.ajax({
				url: './view/emp/emp-list.jsp',
				dataType: "html",
				type: "GET",
			})
				.done(function (data) {
					$("#content").html(data);
				});
		});

		$("#deleteBTN").click(function () {
			var id = $(event.target).attr('value');

			var option = confirm('Do you want to delete this team?');
			if (option === true) {
				$.ajax({
					url: 'delete-ticket',
					type: 'get',
					data: {
						id: id
					},
					success: function (result) {
						alert('Delete successfully!');
					}
				});
			}
		});
	});
</script>