* {
  font-family: "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  font-weight: 800;
}

.btn-lg {
  font-weight: 600;
}

.form-control {
  border-radius: 0.25rem;
}

a {
  color: #1981dd;
  cursor: pointer;
  font-weight: normal !important;
}

.list-group-item {
  border: none;
}

.border,
.table-bordered,
.table-secondary {
  border-color: black !important;
}

label.error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}

.title {
  text-decoration: underline;
  font-weight: 600;
}
